

<mat-card appearance="outlined">
    <mat-list>
      <h4 class="text-center">All Categories</h4>
  
      <!-- Grid container for displaying cards -->
      <div class="grid-container">
        <div *ngFor="let p of categories" class="item">
          <!-- Mat-card for each category -->
          <mat-card class="category-card pad10">
            <mat-card-header>
              <mat-card-title>{{ p.title }}</mat-card-title>
              <mat-card-subtitle>{{ p.description }}</mat-card-subtitle>
              <!-- <mat-card-subtitle>{{ p.id }}</mat-card-subtitle> -->
            
              
            </mat-card-header>
          </mat-card>
        </div>
      </div>


      
<div class="text-center  mt20 mb10">
  <button
  routerLink="/admin/add-category"
  mat-raised-button color="accent">Add New Category</button>
</div>
    </mat-list>
  </mat-card>
  


