

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; 
    padding: 10px;
  }
  
  .item {
    border: 0px solid #ccc;
    padding: 10px;
    box-shadow: 1px 1px rgb(213, 121, 177);
    border-radius: 8px;
    background-color: #f8ebeb;
    

    
  }

