
.l{
    text-align: center;

}
h4{
    margin-bottom: 20px;
}
.card-container {
   
    width: 100%;
    
  }
  
  .example-full-width {
    width: 50%;
  }

  .side{
    text-align: center;
    width: 52%;
    margin: auto ;
   
  }
